h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 40px auto;
    font-family: 'Baloo Bhai', cursive;
    text-shadow: 3px 4px rgb(218, 109, 240);
}
form {
    height: 250px;
    background-color: rgb(238, 238, 238);
    margin: 40px 0;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.submit-button{
    width: 150px;
    padding: 10px;
    font-size: 22px;
    background-color: rgba(215, 255, 255, 0.7);
    color: black;
    border-color: rgb(214, 222, 255);
    border-radius: 5px;
}

.top-text, .bottom-text{
    width: 50%;
    margin: 12px auto;
    padding: 7px;
    font-size: 15px;
    letter-spacing: 1px;
}

.image-url {
    width: 70%;
    margin: 12px auto;
    padding: 7px; 
}
.image-url::placeholder{
    font-size: 15px;
}

label{
    margin: 20px;
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
}
input{
    margin: 0 auto;
}
